<!doctype html>
<html>

<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>

<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a class= "grey-text mediaOptions" id="movies">Movies</a></li>
    <li class="divider"></li>
    <li><a class= "grey-text mediaOptions" id="shows">TV Shows</a></li>
    <li class="divider"></li>
    <li><a class= "grey-text mediaOptions" id="music">Music</a></li>
  </ul>
  <nav class="grey lighten-3">
    <div class="nav-wrapper grey lighten-3">
          <h6 class="red-text text-darken-2 center" id="suggestions"></h6>
      <ul class="right red-text text-darken-2">
        <li><a class="dropdown-button red-text text-darken-2" href="#!" data-activates="dropdown1">All<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="red-text text-darken-2" id="user_logo">{{email}}</a></li>
        <li><a class="red-text text-darken-2" href="/sessions/logout">Logout</a></li>
      </ul>
      <form class="searchBar browser-default">
        <div class="input-field red-text text-darken-2" id="input-field1">
          <input placeholder="Search for artist, movie, or TV show recommendations" class="grey-text search autocomplete" id="autocomplete-input" type="search" required>
          <label for="search"><i class="material-icons red-text text-darken-2">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
    <!-- <nav id="suggestions-nav"> -->
      <!-- <div class="nav-wrapper center" id="suggestions-wrapper">
        <div class="suggestions" id="suggestions-div"> -->

        <!-- </div>
      </div> -->
    <!-- </nav> -->
  </nav>

  <div class="main-container">
    <div class="video-container">
      <nav class="red darken-2" id="prefs">
        <ul>
          <li class= "pref"><a class= "brand-logo" id="logo">Vinge</a></li>
          <li class= "pref right orange lighten-3"><a href="#" >Meh</a></li>
          <li class= "pref right amber accent-4"><a href="#">Dislike</a></li>
          <li class= "pref right light-blue accent-2"><a href="#">Like</a></li>
        </ul>
      </nav>
      <div class="video-container">
        <div class="video-div">
          <iframe frameborder="0"
          src="{{yUrl}}">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
 <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</html>
