#big-container{
  overflow: hidden;
}

.pref{
  width: 15%;
  text-align: center;

}
.react{
  font-size: 1.5em;
}

.video-container{
    height:100%;
}

#welcome{
  margin-top: 100px;
    background-color: #eeeeee;
    color:  #424242;
}

.updt{
  margin-bottom: 30px;
}
.hiddenID{
  display: none;
}
.video-div{
  background-color: black;
}

.searchBar{
  width:40%;
  font-family: GillSans, sans-serif;

}

.search{
  width: 90%;
  font-size: 2em;
  font-weight: 500;
}


.main-container{
  width: 70%;
  margin: 1% auto;
  background-color: #eeeeee;
  height: 80vh;
  margin-bottom: 70px;
}
/*
body{
    overflow: hidden;
}*/
.mediaName{
margin: 25px 0;
}

#logo:hover{
  background-color: #d32f2f;
  cursor: default;
}
/*#user_logo:hover{
  background-color: #eeeeee;
  cursor: default;
}*/

.autoText, .autoOptions, #suggestions{
  font-size: 0.9em;
}

.autoText, .autoOptions, #suggestions:hover{
  cursor: pointer;
  font-size: 1em;
}
