form{
  height: 100%
}
.searchBar{
  width:600px;
  height: 100%
}
#logo{
  font-weight: 500;
}
#logo:hover{
  background-color: #eeeeee;
  cursor: default;
}
#user_logo:hover{
  background-color: #eeeeee;
  cursor: default;
}
