.pref{
  width: 15%;
  text-align: center;
}

.video-container{
  height: 100%
}

.video-div{
  background-color: black;
}

.searchBar{
  width:60%;
}

.search{
  width: 90%;
}

.main-container{
  width: 70%;
  margin: 1% auto;
}

body{
    overflow: hidden;
}


#logo:hover{
  background-color: #d32f2f;
  cursor: default;
}
#user_logo:hover{
  background-color: #eeeeee;
  cursor: default;
}
