.main-container {
  width: 680px;
  margin: 5vh auto;
  background-color: #eeeeee;
  padding: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  color: #d32f2f;
}

h5{
  text-align: center;

}

.center-block { float: none }


.btn {

background-color: white;
color: #424242;
}

.btn:hover {
  background-color: white;
  color: #c62828;
}

a{
color:#ef5350;
}

label{
  font-size: 15px;
}
.input-field input[type=password]:focus {
   border-bottom: 1px solid #ef5350;
   box-shadow: 0 1px 0 0 #ef5350;

 }
 .input-field input[type=email]:focus{
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;
  }
.input-field input[type=password]:focus + label {
      color: grey;
}
.input-field input[type=email]:focus + label {
      color: grey;
}
