<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>
<body>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>
<div id="target">
  <h3 class="center grey-text">History</h3>
  {{#preferences}}
  <h4 class="center mediaName">{{name}}</h4>
  <h5 class="center">{{preference}}</h5>
  <div class="buttons center">
    <button id="{{name}}" class="like waves-effect waves-light btn updt" value="like">Like</button>
    <button id="{{name}}" class="dislike waves-effect waves-light btn updt" value="dislike">Dislike</button>
    <button id="{{name}}" class="meh waves-effect waves-light btn updt" value="meh">Meh</button>
    <button id="{{name}}" class="delete waves-effect waves-light btn updt" value="delete">Delete that!</button>
  </div>
  {{#yid}}
  <img src="http://img.youtube.com/vi/{{yid}}/2.jpg"></img>
  </a>
  {{/yid}} {{^yid}} {{/yid}} {{/preferences}}
</div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</html>
